html {
  font-size: 62.5%;
  /* 10px, for easy math. e.g. 1.8rem = 18px */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9rem;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4.0rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.0rem;
}

h6 {
  font-size: 1.6rem;
}

a {
  color: #2a7ae2;
}

.site-title {
  color: #333;
}
footer {
  font-size: 1.8rem;
}

.post-meta {
  font-size: 1.6rem;
  color: #828282;
}

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 1.5rem;
  letter-spacing: -1px;
  font-style: italic;
}

.pagination > .btn {
  font-size: 1.4rem;
}

.pagination  .current-page {
  color: #333;
}

/* navbar */

.navbar {
  font-family: 'Monserrat', sans-serif;
}

a.navbar-brand {
  font-size: 3.0rem;
}

a.nav-link {
  font-size: 2.3rem;
}
