html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #2a7ae2;
}

.site-title {
  color: #333;
}

.post-meta {
  color: #828282;
}

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 1.5rem;
  letter-spacing: -1px;
  font-style: italic;
}

.pagination  .current-page {
  color: #333;
}

/* navbar */

.navbar {
  font-family: 'Monserrat', sans-serif;
}

a.navbar-brand {
  font-size: 2.0rem;
}

a.nav-link {
  font-size: 1.5rem;
}
