<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

  <!-- create partials for head nav footer scripts... -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link href="https://fonts.googleapis.com/css2?family=Hind&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://cultureofcode.com/">
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "index.xml" | absURL }}">

    <style>
     .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }
    </style>

    <title>{{ .Page.Title }}</title>
  </head>
  <body>

    <header class="container header py-3 mb-5 border-bottom">
      <div class="row">
        <div class="col-md-10"><h1 class="display-3"><a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1></div>
        <div class="col-md-2 text-right"><h2 class="display-4"><a href="{{ "about" | absURL }}">about</a></h2></div>
      </div>
    </header>

    {{ block "main" . }}

    {{ end }}

    <footer class="container footer pt-5 mt-5 font-weight-light border-top">
      <div class="row">

        <div class="col-md-6">
          <p>Digital fuel for an empty tank world.</p>
          <p>
            A curated guide through the wilderness of technology, agile methods, and development tools.
          </p>
          <p><em>Fire for the culture of code.</em></p>
        </div>

        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><u>Categories</u></li>

            {{ range .Site.Taxonomies.categories }}
            <li>
              <a href="{{ .Page.RelPermalink | relURL }}">{{ .Page.LinkTitle }}</a>
            </li>
            {{ end }}

          </ul>
        </div>

        <div class="col-md-3">
          <ul class="fa-ul list-unstyled">
            <li>
              <span class="fa-li"><i class="fas fa-rss-square"></i></span>
              subscribe <a href="{{ "index.xml" | absURL }}">via RSS</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-envelope-square"></i></span>
              <a href="mailto:hello@cultureofcode.com">hello@cultureofcode.com</a>
            </li>
            <li>
              <span class="fa-li"><i class="fab fa-twitter"></i></span>
              <a href="https://twitter.com/kennethpbowen">kennethpbowen</a>
            </li>
            <li>
              <span class="fa-li"><i class="fab fa-github"></i></span>
              <a href="https://github.com/kpb">kpb</a>
            </li>
          </ul>
        </div>

      </div> <!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <p>
            <small>
              <a href="https://cultureofcode.com">Culture of Code</a> by <a href="mailto:kenneth@kennethbowen.com">Kenneth Bowen</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>
