<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link rel="canonical" href="https://cultureofcode.com/">
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "index.xml" | absURL }}">

    {{ template "_internal/twitter_cards.html" . }}

    <style>
     .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }
    </style>

    <title>{{ .Page.Title }}</title>
  </head>
  <body class="d-flex flex-column h-100">

    <header class="mb-5">
      <nav class="navbar navbar-expand-md navbar-light border-bottom">
        <div class="container">
        <a class="navbar-brand mr-5 pr-5" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav pl-5 ml-5">
            <li class="nav-item active">
              <a class="nav-link" href="{{ .Site.BaseURL }}">home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ "about" | absURL }}">about</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>
    </header>

    {{ block "main" . }}

    {{ end }}

    <footer class="footer pt-5 mt-auto font-weight-light border-top">
      <div class="container">
      <div class="row">

        <div class="col-md-6">
          <p>Digital fuel for an empty tank world.</p>
          <p>
            A curated guide through the wilderness of technology, agile methods, and development tools.
          </p>
          <p><em>Fire for the culture of code.</em></p>
        </div>

        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><u>Categories</u></li>

            {{ range .Site.Taxonomies.categories }}
            <li>
              <a href="{{ .Page.RelPermalink | relURL }}">{{ .Page.LinkTitle }}</a>
            </li>
            {{ end }}

          </ul>
        </div>

        <div class="col-md-3">
          <ul class="fa-ul list-unstyled">
            <li>
              <span class="fa-li"><i class="fas fa-rss-square"></i></span>
              subscribe <a href="{{ "index.xml" | absURL }}">via RSS</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-envelope-square"></i></span>
              <a href="mailto:hello@cultureofcode.com">hello@cultureofcode.com</a>
            </li>
            <li>
              <span class="fa-li"><i class="fab fa-twitter"></i></span>
              <a href="https://twitter.com/kennethpbowen">kennethpbowen</a>
            </li>
            <li>
              <span class="fa-li"><i class="fab fa-github"></i></span>
              <a href="https://github.com/kpb">kpb</a>
            </li>
          </ul>
        </div>

      </div> <!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <p>
            <small>
              <a href="https://cultureofcode.com">Culture of Code</a> by <a href="mailto:kenneth@kennethbowen.com">Kenneth Bowen</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </small>
          </p>
        </div>
      </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->

  </body>
</html>
