{{ define "main" }}

<main role="main" class="container pt-3 main">

  <!-- whatever's in content/_index.md -->
  {{ .Content }}

  <div class="row row-cols-1 row-cols-md-3">
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}
    {{ range $paginator.Pages }}

    <div class="col mb-4">
      <div class="card" h-100>
        <div class="card-body">
          <h4 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
          <p class="card-text">{{ with .Description }} {{ . }} {{ end }}</p>
          
        </div>
      </div>
    </div>
    
    {{ end }}
  </div>

    <div class="pagination pb-3">
      <!-- <p>
           page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}
           </p>-->

    <p>
      {{ range $paginator.Pagers }}
      <a class="ml-2{{ if eq . $paginator }} current-page{{ end }}" href="{{ .URL | relURL }}">{{ .PageNumber }}</a>&nbsp;&nbsp;|
      {{ end }}

      {{ if $paginator.HasNext }}
      <a class="ml-2" href="{{ $paginator.Next.URL }}">next</a>
      {{ end }}
    </p>
  </div>

</main>

{{ end }}
