{{ define "main" }}

<main role="main" class="container pt-3 main">

  <!-- whatever's in content/_index.md -->
  {{ .Content }}

  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}
  {{ range $paginator.Pages }}
  <ul class="list-unstyled">
    <li>
      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
      <p>
        <span class="post-meta">{{ .Lastmod.Format "2 January 2006" }}{{ with .Description }} &mdash; {{ . }} {{ end }}
      </p>
    </li>
  </ul>
  {{ end }}

  <div class="pagination pb-3">
   <!-- <p>
      page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}
    </p>-->

    <p>
      {{ range $paginator.Pagers }}
      <a class="ml-2{{ if eq . $paginator }} current-page{{ end }}" href="{{ .URL | relURL }}">{{ .PageNumber }}</a>&nbsp;&nbsp;|
      {{ end }}

      {{ if $paginator.HasNext }}
      <a class="ml-2" href="{{ $paginator.Next.URL }}">next</a>
      {{ end }}
    </p>
  </div>

</main>

{{ end }}
